<ion-header>

  <ion-navbar color="primary">
    <ion-title>Coletor</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list padding>
    <ion-item>
      <ion-label stacked>Produto:</ion-label>
      <ion-input [value]="produto?.codigo + ' - ' + produto?.descricao" disabled type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Tipo:</ion-label>
      <ion-input [value]="produto?.tipo" disabled type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Filial:</ion-label>
      <ion-select [(ngModel)]="filial">
        <ion-option *ngFor="let f of filiais" [value] = "f.cod_filial">{{f.nome}} - {{f.cod_filial}} - {{f.filial}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Documento:</ion-label>
      <ion-input [(ngModel)]="documento" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Armazem:</ion-label>
      <ion-select [(ngModel)]="produto.locpad">
        <ion-option *ngFor="let a of armazens" [value] = "a.local">{{a.local}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Endereço:</ion-label>
      <ion-input [(ngModel)]="endereco" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Qtd:</ion-label>
      <ion-input [(ngModel)]="qtd" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Qtd Seg. UM.:</ion-label>
      <ion-input [(ngModel)]="qtd2" type="number"></ion-input>
    </ion-item>
  </ion-list>

  <div padding>
    <button (click)="save()" ion-button color="secondary" block>Salvar</button>
  </div>
</ion-content>
